.Roletbl {
    border-radius: 10px 10px 0px 0px;
}

.Roletbl table thead tr th:nth-child(1) {
    width: 75px;
    padding: 0;
}

.Roletbl table thead tr th:nth-child(2) {
    width: 85px;
    text-align: center !important;
}

.Roletbl table thead tr th:nth-child(3) {
    width: 100%;
    text-align: center !important;
}

.UserCombo{
    background-color: rgba(191, 191, 191, 0.33);
    min-width: 130px;
    min-height: 33px;
    float: right;
    margin-bottom: 10px;
    direction: rtl;
    padding: 5px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    cursor: pointer;
}
.UserCombo:focus{
    outline: none !important;
}