.ChartDetails {
    width: 25%;
    margin-top: 5px;
    font-family: vazir;
    float: left;
    text-align: right;
    padding-right: 20px;
}

.ChartDetails p {
    margin-bottom: 10px;
    cursor: default;
}

.ChartDetails span {
    font-family: vazir;
    float: right;
    padding-right: 50px;
}

.myTempTitle {
    font-family: vazir;
    padding-right: 8px;
    padding-top: 5px;
    margin: 0px;
    cursor: default;
}

.FilterTitle {
    font-family: vazir;
    text-align: right;
}

.SearchBox {
    /* float: left; */
    border-top: 1px solid gray;
    padding: 10px;
}

.SearchBox label {
    font-weight: normal;
    font-family: vazir;
}

.searchBoxItem {
    direction: rtl;
    margin-bottom: 15px;
    width: 100%;
    float: right;
}

input[type="radio"],
input[type="checkbox"],
.pointerCursor {
    cursor: pointer;
}

.defaultCursor {
    cursor: default;
}

textarea {
    border-bottom: 1px solid gray;
    height: 25px;
    min-height: 25px;
    width: 50%;
    margin-right: 50px;
    float: right;
}